body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 50px;
    background: black;
    color: white;
}

.top {
    display: flex;
    height: 50px;
    background: lightgray;
    color: black;
}

.info {
    display: flex;
    height: 50px;
    background: black;
    color: white;
}

.quote {
    display: flex;
    height: 50px;
    background: lightgray;
    color: black;
}

.bottom {
    display: flex;
    height: 50px;
    background: black;
    color: white;
}

.footer {
    display: flex;
    height: 50px;
    background: lightgray;
    color: black;
}